<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1hV6StKfwgv1qj9FoC4QGdIJNDSkTdEY</string>
	<key>GCM_SENDER_ID</key>
	<string>513802662008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmg.loyalty.dev</string>
	<key>PROJECT_ID</key>
	<string>aswaaqloyalty</string>
	<key>STORAGE_BUCKET</key>
	<string>aswaaqloyalty.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>	
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513802662008:ios:5dad7d4c5a132acbcf7d8d</string>
</dict>
</plist>